@charset "utf-8";
.clearfloat:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.lf {
  float: left;
}
.rg {
  float: right;
}
.windth80 {
  width: 80%;
  margin: 0 auto;
}
